API_URL=http://localhost:8000
USER_URL=http://localhost:3001

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your-admin-password

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_NAME=your-test-database
